<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>

        <article>
            <time>26/05/2024</time>
            <h2><a href="">Meu primeiro post</a></h2>
            <p>primeiro post djangogirls</p>
        </article>

        <article>
            <time>26/05/2024</time>
            <h2><a href="">Meu segundo post</a></h2>
            <p>Meu segundo post</p>
        </article>
    </body>
</html>